html,
body {
  background-color: #0f1214;
  word-wrap: wrap;
}

#article {
  color: #ced4e2;
  min-height: 100vh;
  min-width: 120px;
  margin: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
}

.sentence { 
  font-size: 3rem;
  text-indent: -1.3rem;
  max-width: 50rem; 
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.sentence { quotes: '\201c' '\201d'; }
.sentence:before { 
    content: "「"; 
    margin-left: -1.7rem;
}
.sentence:after  { content: "」"; }

.author,
.source{
  display: inline-block;
  font-size: 1.5em;
}
.source:before{ content: " via《"; }
.source:after{ content: "》"; }
.author:before{ content: "by ";}
.author:after{ content: " ";}
.more {
  margin-top: .5rem;
  display: block;
  font-size: 1.5em;
}

cite{
  margin-top: 1rem;
  display: initial;
  text-align: left;
  margin-left: 20rem;
}


@media all and (max-width: 850px) {
  p { 
    font-size: 2rem; 
    margin: 2rem;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
}
@media all and (max-width: 500px) {
  body {
    background-position-y: -200px;
    background-position-x: center;
  }
}


footer{
  background-color: #2C2C2C;
  color: #8A8A8A;
  padding: 25px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ced4e2;
}

a:hover {
  color: white;
}