<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="author" content="bGZo">
	<meta name="description" content="">
	<link rel="stylesheet" href="">
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="">
	<link rel="icon" type="image/png" sizes="32x32" href="">
	<link rel="icon" type="image/png" sizes="16x16" href="">
	<base target="_blank">
    <link rel="stylesheet" href="/assets/custom.css">
</head>

<body> {{ content }} </body>
<script src="/assets/app.js"></script>
</html>